body {
    padding-left: 15px;
    padding-right: 15px;
}

td.commentary {
    padding-right: 60px;
    padding-bottom: 20px;
}

p.headline {
    font-size: 15px;
}

td.commenter-identity {
    padding-top: 38px;
    padding-bottom: 30px;
}



td {
    padding-left: 8px;
    padding-right: 9px;
    padding-top: 9px;
    vertical-align: top;
    border-bottom: 1px solid lightgrey;
}

span.launcher {
    padding-left: 12px;
    color: blue;
    cursor: pointer;
}
hr.slender {
    margin-top: 0px;
    margin-bottom: 12px;
}

.charmax-reached {
    margin-top: -3px;
    padding-bottom: 9px;
    padding-top: 0px;
    text-align: right;
    color: red;
}

p.consensus .average {
    font-size: 18px;
}

.headline {
    font-weight: bold;
    width: 350px;
}

.readonly-headline {
    font-weight: bold;
    font-style: normal;
}



.review-presentation {
    width: 100%;
    opacity: 0;
}

.outer {
    padding:12px;
}

.login-panel {
    padding:15px;
    background-color: beige;
    margin-bottom: 40px;
}


.dialogdemoBasicUsage #popupContainer {
    position: relative; }

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }

.dialogdemoBasicUsage button {
    width: 200px; }

.dialogdemoBasicUsage div#status {
    color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0; }


li {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
