<input type="text" ng-model="projectList.search" class="search-query" id="projects_search"
       placeholder="Search">
<table>
    <thead>
    <tr>
        <th>Project</th>
        <th>Description</th>
        <!-- the "i class" automatic icon handling is a feature of twitter's bootstrap -->
        <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
    </tr>
    </thead>
    <tbody>

    <!-- So what is projectList? It's an alias for the ListController, so this is saying
         "for each entity in a given controller's "projects" object?
         Indeed, that controller does set something called: "this.projects".

         Now, this particular first-stab implementation used "resolve" to make sure the
         controller already had the data, no deferral.  But what if we want this page
         to be rendered immediately and have this ng-repeat be dependent upon a deferral?
    -->
    <tr ng-repeat="project in projectList.projects | filter:projectList.search | orderBy:'name'">
        <td><a ng-href="{{project.site}}" target="_blank">{{project.name}}</a></td>
        <td>{{project.description}}</td>
        <td>
            <a ng-href="#/edit/{{project.$id}}"><i class="icon-pencil"></i></a>
        </td>
    </tr>
    </tbody>
</table>
