<p class="login-panel">Logged in as user: &nbsp; <b>{{user.displayName}}</b> &nbsp; <i>{{user.email}}</i>
    &nbsp; &nbsp; &bull; &nbsp;
    <button ng-click="doLogout()">Logout</button>
    <br/>&nbsp;<br/>
    <a href="#/" style='font-size:16px'>&lt;&lt;&lt;&lt;&lt;&lt;&lt; Go back to list of products</a>
</p>



<p ng-controller="ProductListController">
    <img src="{{products[productID].image}}" height="150"/>
</p>






<!-- PAGE AREA:  CONSENSUS/"YOUR OWN" RATING DISPLAY

IF the logged-in user has not yet rated this product:
    We show the average rating for this product + Number of ratings involved
    This display is a clickable call to action launching the create-rating-andor-comment popup.
ELSE:
    We show the logged-in user's own rating here and we do not show any count of the number of community ratings.
    It is NOT clickable; this is not a CTA.
-->

<!-- First case:  logged-in user has NOT yet rated.  This is a readonly starstrip but is a call-to-action so clickable cursor -->
<p ng-if="userHasNotYetReviewed && consensus.average" class="consensus clickable" ng-click="popupReviewDialog($event)">
    <rating-starstrip readonly clickable max="10" decimal ng-if="consensus.average"
                      color-base="blue" color-selected="blue" icon-size="20"
                      value="{{consensus.ratingOutOfTen}}" icon-size="16"></rating-starstrip>
    ({{consensus.count}} ratings)
</p>
<!-- Alt case:  logged-in user HAS ALREADY RATED this product. -->
<p ng-if="!userHasNotYetReviewed" class="consensus">
    <rating-starstrip readonly max="5"  ng-if="writeableReview.rating"
                      value="{{writeableReview.rating}}" icon-size="20"></rating-starstrip>
</p>


<hr class="slender"/>

<p>Product description would go here. Product description would go here. Product description would go here. Product description would go here. </p>

<p>&nbsp;</p>
<p>&nbsp;</p>






<!-- PAGE AREA:  DISPLAY OF RECENT COMMENTS (and user's own comment if available)

Here we display the most-recent comments in reverse-chrono order.
Exception:  if the logged-in user has already reviewed this product,
that review (no matter how old) is displayed as the first one along with a CTA to edit or delete.
-->

<p class="headline">
    <b>Recent comments </b>
    <span ng-click="popupReviewDialog($event)" ng-if="userHasNotYetReviewed" class="launcher">Add Rating / Comment</span>
</p>


<hr class="slender"/>



<table class="review-presentation">
    <tbody>

    <!-- WRITEABLE REVIEW:

    The writeable review UI changes slightly based on whether this user has or has not already issued
    a review for this product.

    If the user *has* already submitted a review for this product, the UI shows that previously-submitted
    review and the user is allowed to revise and resubmit.
    -->

    <!-- Note: in controller: $scope.writeableReview has been setup -->

    <tr ng-if="!userHasNotYetReviewed">
        <td class="commentary">
            <rating-starstrip readonly value="{{writeableReview.rating}}"></rating-starstrip>
            <p class="readonly-headline">{{writeableReview.headline | uppercase}}</p>
            <p class="readonly-commentary">{{writeableReview.comment}}</p>
        </td>
        <td class="commenter-identity"><b>{{writeableReview.authorName}}</b>
            <br/><i>{{writeableReview.authorEmail}}</i>
            <!-- <br/>{{writeableReview.time | date:'yyyy-MMM-dd'}} -->
            <!-- <br/><img class='photo-of-commenter' width=24 src="{{writeableReview.photoURL}}"/> -->
        </td>
        <td>
            <md-button class="md-primary md-raised" ng-click="popupReviewDialog($event)">
            Edit
            </md-button>
            <br/>
            <md-button class="md-raised" ng-click="popupDeleteConfirmDialog($event)">
                Delete
            </md-button>
        </td>
    </tr>



    <!-- this reference to controller.xxxx is satisfied by the controller's "this.xxxx" not be the $scope! -->
    <tr ng-repeat="review in reviewlistCTRLR.reviewsToShow | filter:filter_to_only_others()">
        <td class="commentary">
            <rating-starstrip readonly value="{{review.rating}}"></rating-starstrip>
            <p ng-if="review.headline.length > 0" class="readonly-headline">{{review.headline | uppercase}}</p>
            <p class="readonly-commentary">{{review.comment | limitTo:1000}}</p>
        </td>
        <td class="commenter-identity"><b>{{review.authorName}}</b>
          <br/><i>{{review.authorEmail}}</i>
          <!--
          <br/>{{review.time | date:'yyyy-MMM-dd'}}
          <br/><img class='photo-of-commenter' width=24 src="{{review.photoURL}}"/> -->
        </td>
        <td>
            <md-menu>
                <md-button aria-label="Options" class="md-raised" ng-click="$mdMenu.open($event)">
                    Options
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="flag_this();">Flag</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </td>
    </tr>
</tbody>
</table>










<!-- PAGE AREA:  DIALOG BOX FOR ENDUSER CREATION / REVISING OF COMMENTS -->


<script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog aria-label="Mango (Fruit)">
<form ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content" style="text-align:center">
            <p>RATING</p>
        <rating-starstrip ng-model='unsavedwriteableReview.rating' ng-if='unsavedwriteableReview.rating' value="{{unsavedwriteableReview.rating}}"></rating-starstrip>
                <br/>
            <input class="headline" maxlength="40" type="text" placeholder="Enter a headline/title here" ng-model="unsavedwriteableReview.headline"/>
            <br/>
            <div ng-if="unsavedwriteableReview.headline.length >= 40" class="charmax-reached">40 characters maximum!</div>
            <textarea style="width:350px;height:220px" maxlength="1000" ng-trim="false"
                               placeholder="Click on the stars to select your rating (from 1 to 5 stars), and type in this box to provide your comments."
                               ng-model="unsavedwriteableReview.comment"></textarea>
            <div class="charcounter">{{1000 - unsavedwriteableReview.comment.length}} characters remaining</div>
            <md-button class="md-primary md-raised"  ng-if="!userHasNotYetReviewed" ng-click="update_review()">Revise</md-button>
            <md-button class="md-primary md-raised"  ng-if=" userHasNotYetReviewed" ng-click="push_review_to_server()">SAVE</md-button>
        </div>
    </md-dialog-content>
    <md-dialog-actions></md-dialog-actions>
</form>
    </md-dialog>
</script>

